section.section
    .container
        .main__accaunts
            ul.main__accaunts_list
                li.main__accaunts_list__item#btn
                    .accaunts__mail ivanov@gmail.com
                    .accaunts__type
                        img(src='assets/img/icon1.png')
                        img(src='assets/img/icon2.png')
                    .accaunts__date 20.10.18 15:30
                include ../common/_modal
                li.main__accaunts_list__item#btn
                    .accaunts__mail nokhchoprint@ya.ru
                    .accaunts__type
                        img(src='assets/img/icon1.png')
                        img(src='assets/img/icon2.png')
                    .accaunts__date 20.10.18 15:30
                li.main__accaunts_list__item#btn
                    .accaunts__mail petrov@mail.ru
                    .accaunts__type
                        img(src='assets/img/icon1.png')
                    .accaunts__date 20.10.18 15:30
                li.main__accaunts_list__item#btn
                    .accaunts__mail petrovich@mail.ru
                    .accaunts__type
                        img(src='assets/img/icon1.png')
                    .accaunts__date 20.10.18 15:30
                li.main__accaunts_list__item#btn
                    .accaunts__mail petrovspam@hotmail.com
                    .accaunts__type
                        img(src='assets/img/icon2.png')
                    .accaunts__date 20.10.18 15:30
                li.main__accaunts_list__item#btn
                    .accaunts__mail nokhchoprint@ya.ru
                    .accaunts__type
                        img(src='assets/img/icon1.png')
                        img(src='assets/img/icon2.png')
                    .accaunts__date 20.10.18 15:30
                li.main__accaunts_list__item#btn
                    .accaunts__mail nokhchoprint@ya.ru
                    .accaunts__type
                        img(src='assets/img/icon1.png')
                        img(src='assets/img/icon2.png')
                    .accaunts__date 20.10.18 15:30